html
{
    scrollbar-color: #fff;
    scrollbar-shadow-color: #ff0000;
    scrollbar-3dlight-color: #ff0000;
    scrollbar-arrow-color: #0000ff;
    scrollbar-darkshadow-color: #0000aa;
    scrollbar-highlight-color: #0000aa;
}